body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Imprima', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    position: relative;
}

.video-container {
    flex: 4;
    padding: 20px;
    position: relative;
    display: flex; /* Adicionado para centralizar o Plyr */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.chat-container {
    flex: 1;
    background-color: #000;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 2px solid #333;
}

.chat-container::-webkit-scrollbar {
    width: 8px;
}

.chat-container::-webkit-scrollbar-track {
    background: #000;
}

.chat-container::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

.chat-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #333;
    display: none;
    word-break: break-word;
}

.message span {
    display: inline-block;
    max-width: 100%;
}

.timestamp {
    font-size: 0.8em;
    color: gray;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.author {
    font-weight: bold;
    margin-right: 5px;
}

.text {
    font-size: 1em;
    color: #fff;
}

/* Estilo específico para o Plyr */
.plyr {
    width: 100%;
    height: auto; /* Alterado para auto para respeitar a proporção do vídeo */
    max-width: 100%; /* Garante que não exceda o contêiner */
    max-height: 100%; /* Garante que não exceda o contêiner */
    border-radius: 10px;
    overflow: hidden;
}

.plyr video {
    width: 100%;
    height: auto; /* Respeita a proporção original */
    object-fit: contain; /* Exibe o vídeo inteiro sem cortes */
}

/* Estilos do menu */
.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

.menu-options {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.menu-option {
    display: block;
    width: 100%;
    padding: 8px 12px;
    background: none;
    border: none;
    color: #fff;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
}

.menu-option:hover {
    background-color: #444;
}

@media (max-width: 1768px) and (orientation: portrait) {
    body {
        flex-direction: column;
    }

    .video-container {
        flex: 0 0 25%;
        height: 40%;
        padding: 10px;
    }

    .chat-container {
        height: 60%;
        padding: 10px;
        border-left: none;
        border-top: 2px solid #333;
    }

    .menu-button {
        top: 455px;
        right: 5px;
    }

    .menu-options {
        top: 35px;
        right: 5px;
    }
}